<section class="section summary-section">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fas fa-user"></i></span>Career Profile
  </h2>
  <div class="summary">
    <p>
      Efficient Web Developer with more than a year of experience in challenging
      development environments. Excellent communication and organizational
      abilities with resourceful approach to solving diverse problems.
      Deadline-driven and knowledgeable professional with strong desire to learn
      and contribute to team success. Successful at improving usability,
      performance and functionality by applying skills in JavaScript and its
      frameworks, both Frontend and Backend. Collaborative and hardworking team
      player with critical thinking skills and systematic approach.

      <a
        href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/orbit-free-resume-cv-bootstrap-theme-for-developers/"
        target="_blank"
      ></a>
    </p>
  </div>
  <!--//summary-->
</section>
