<section class="section experiences-section">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences
  </h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Web Developer</h3>
        <div class="time">2020 - Present</div>
      </div>
      <!--//upper-row-->
      <div class="company">Vanilla Networks, Calicut</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        Planned website development, converting mockups into usable web presence
        with HTML, JavaScript, AJAX and JSON coding. Applied knowledge of
        JavaScript and Object-Oriented Programming to create successful designs.
        Multi-tasked across multiple functions and roles to generate project
        results and meet deadlines and organizational expectations.
      </p>
      <p>
        Implemented website maintenance, content management and updates. Oversaw
        back-end development using PHP to maintain website integrity, security
        and efficiency. Coded websites using HTML, CSS, JavaScript and jQuery
        languages. Conducted testing and review of website design for
        responsiveness, clarity and effectiveness.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Freelancer</h3>
        <div class="time">March 2020 - August 2020</div>
      </div>
      <!--//upper-row-->
      <div class="company">Santa Cruz, Mumbai</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        Created Web Scrapera made using Python Scrapy framework, beautiful
        Library and also Selenium Web Driver.
      </p>
      <p>
        Used the BeautifulSoup Python Library and Python Scrapy framework to
        extract desired data from a given URL an automated way. Reverse
        engineered web technologies like JSON & Ajax to provide organized bid
        data.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Network Engineer</h3>
        <div class="time">2018 - March 2020</div>
      </div>
      <!--//upper-row-->
      <div class="company">Inventel India , Mumbai</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        Performed troubleshooting for Juniper, Cisco and packet analysis.
        Managed, tracked and coordinated problem resolution and escalation
        processes. Configured, managed and troubleshoot VoIP and multimedia
        distributed systems and platforms.
      </p>
      <p>
        Collaborated with vendors to select and install Firewall to optimize
        network performance and uptime. Provided network support services for
        all Network devices.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->
</section>
