<section class="section projects-section">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fas fa-archive"></i></span>Projects
  </h2>
  <div class="intro">
    <p>
      You can list your side projects or open source libraries in this section.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et
      ligula in nunc bibendum fringilla a eu lectus.
    </p>
  </div>
  <!--//intro-->
  <div class="item">
    <span class="project-title"
      ><a
        href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-5-startup-template-for-software-projects/"
        target="_blank"
        >CodingHippo</a
      ></span
    >
    -
    <span class="project-tagline"
      >A portfolio resume website built using a free to use web template using a
      Node.js Express.js Framework as Backend.
    </span>
  </div>
  <!--//item-->
  <div class="item">
    <span class="project-title"
      ><a
        href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-5-template-for-saas-businesses/"
        target="_blank"
        >AirBnB Web Scraper</a
      ></span
    >
    -
    <span class="project-tagline"
      >A Web scraper built using the Python Scrapy Framework.
    </span>
  </div>
  <!--//item-->
  <div class="item">
    <span class="project-title"
      ><a
        href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-5-vcard-portfolio-template-for-software-developers/"
        target="_blank"
        >India Mart Web scraper.</a
      ></span
    >
    -
    <span class="project-tagline"
      >A Web scraper built using the Python Scrapy Framework.</span
    >
  </div>
  <!--//item-->
  <div class="item">
    <span class="project-title"
      ><a
        href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/bootstrap-template-for-mobile-apps-nova-pro/"
        target="_blank"
        >JWT Authentication Skeleton Api</a
      ></span
    >
    -
    <span class="project-tagline"
      >A Backend Web Api built using Node.js Express.js Framework implenting
      User Authentication using JSON Web Token.</span
    >
  </div>
  <!--//item-->
  <!-- <div class="item">
    <span class="project-title"
      ><a
        href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/"
        target="_blank"
        >DevStudio</a
      ></span
    >
    -
    <span class="project-tagline"
      >A responsive website template designed to help web developers/designers
      market their services.
    </span>
  </div> -->
  <!--//item-->
</section>
